<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/vue@next"></script>
  <title>Vue 3 Workshop</title>
</head>
<body>
  
  <div id="app">
    <h1>{{ course }}</h1>
    <ul>
      <h3>{{ fee }}</h3>
      <li v-for="topic in topics">
        {{ topic }}
<!--         <li v-for="(topic, index) in topics" :key="index">
        {{ topic }} 
    </li> -->
      </li>
    </ul>
    <p v-if="available">Buy the course!</p>
    <p v-else>You don't need this course!</p>

    <!-- <button @click="purchase">Buy now</button> -->
    <img :src="imgURL" :alt="hasImgDescription" width="500" height="350">
    <!-- <img :src="imgURL" :alt="imgDescription" width="500" height="350"> -->
    <br>
    <button @click="available = !available">Buy now</button>
  </div>

  <script src="./app.js"></script>
  <script src="./components/CourseCard.vue"></script>
  <script>
    const mountedApp = app.mount('#app');
  </script>
  
</body>
</html>