<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/vue@next"></script>
  <title>Vue 3 Workshop</title>
</head>
<body>
  
  <div id="app">
  <p>{{ fullName }}</p>
  <!-- <p>{{ 2021 - date_of_birth }}</p> -->
  <p>{{ age }}</p>

  <p>Counter: {{ counter }}</p>
  <p>My full name is now: {{ fullName }} </p>
  <p>{{ message }}</p>
  <input type="text" v-on:input="UpdateMessage" v-bind:value="message" placeholder="Type your text here"><br><br>
  <input type="text" v-model="message" placeholder="Type your text here"><br><br>
  <p v-html="message"></p>
  <h1 style="color:red">GAME</h1>

  <p v-if="age > 18">You are qualified</p>
  <p v-else>You are NOT qualified</p>
  <input type="text" v-model="age" placeholder="Type your age here"><br><br>
  
  <h3>Fruits</h3>
  <ul>
    <li v-for="fruit in fruits">{{ fruit }}</li>
  </ul>
  <button v-on:click="addTen">Add Ten</button>
  </div>

  <script src="./app2.js"></script> 
</body>
</html>