app.component('coursedisplay', {
  data() {
    return {
      course: "Intro to Vue with Vue 3",
      description: "This is a Vue 3 Workshop",
      fee: "100€",
      available: true,
      imgURL: "images/photo-1618477388954-7852f32655ec.webp2.webp",
      imgDescription: "An image from unsplash.com",
      topics: [
        { id: 1, name: "Front-end" },
        { id: 2, name: "Back-end" },
        { id: 3, name: "Full-stack" },
      ],
    };
  },
  computed: {
    hasImageDescription() {
      return this.imgDescription.length > 0 ? this.imgDescription : 'This description is automated!'
    }
  },
  methods: {
    purchase() {
      console.log('You have paid for this course!')
    }    
  },

  template:
  /* html */
  `
  <h1>{{ course }}</h1>
  <h2>{{ description }}</h2>
  <p>{{ fee }}</p>  
  <ul>
    <li v-for="topic in topics" :key="topic.id">
        {{ topic.name }}
    </li>
  </ul>
  <p v-if="available">Buy the course!</p>
  <p v-else>You don't need this course!</p>
  <img :src="imgURL" :alt="hasImgDescription" width="500" height="350">  <br>
  <button @click="available = !available">Buy now</button>
  `
})
