<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Shopping List App</title>
    <link rel="stylesheet" href="main.css" />
  </head>

  <body>
    <div id="shopping-list">
      <!-- <h1>{{ header }}</h1>
      <input v-model="header" /> -->
      <div class="header">
        <h1>{{ header || 'Welcome' }}</h1>
        <button v-if="editing" @click="doEdit(false)" class="btn btn-cancel">
          Cancel
        </button>
        <button v-else @click="doEdit(true)" class="btn btn-primary">
          Add Item
        </button>
      </div>

      <h2>User Input</h2>
      <br />
      <div v-if="editing" class="add-item-form">
        <input
          @keyup.enter="saveItem"
          type="text"
          v-model="newItem"
          placeholder="Add an Item"
        />
        <p class="counter">{{ characterCounter }}/200 </p>
        <label>
          <input type="checkbox" v-model="newItemHighPriority" />
          High Priority
        </label>
        <!-- <button v-bind:disabled="newItem.length === 0" @click="saveItem" class="btn btn-primary">Save Item</button> -->
        <!-- <button :disabled="newItem.length < 5" @click="saveItem" class="btn btn-primary">Save Item</button> -->
        <button
          :disabled="newItem.length === 0"
          @click="saveItem"
          class="btn btn-primary"
        >
          Save Item
        </button>
      </div>
      <br />
      <p v-if="items.length === 0">No items available</p>
      <ul>
        <li
          v-for="item in reversedItems" 
          @click="togglePurchased(item)" 
          :key="item.id"
          class="static-class"
          :class="{strikeout: item.purchased, priority: item.highPriority}"
        >
          {{item.label}}
        </li>
      </ul>
    </div>

    <script src="https://unpkg.com/vue@3"></script>
    <script>
      const shoppingList = Vue.createApp({
        data() {
          return {
            // header: 'View is ready to party'
            header: "Shopping List App",
            newItem: "",
            newItemPriority: "low",
            newItemHighPriority: false,
            editing: false,
            items: [
              { id: 1, label: "10 party hats", purchased: true, highPriority: false },
              { id: 2, label: "2 board games", purchased: true, highPriority: false },
              { id: 3, label: "20 cups", purchased: false, highPriority: true },
            ],
          };
        },
        methods: {
          saveItem() {
            this.items.push({ 
              id: this.items.length + 1, 
              label: this.newItem,
              highPriority: this.newItemHighPriority
            });
            this.newItem = "";
            this.newItemHighPriority = false;            
          },
          doEdit(editing) {
            this.editing = editing;
            this.newItem = "";
            this.newItemHighPriority = false;
          },
          togglePurchased(item) {
            item.purchased = !item.purchased;
          },
        },
        computed: {
          characterCounter() {
            return this.newItem.length
          },
          reversedItems() {
            return [...this.items].reverse()
          },
        }
      }).mount("#shopping-list");
    </script>
  </body>
</html>
